@import "_variables.scss";

.clock {
  background-color: darkslategray;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .clockFace {
    background-color: darkslategray;
    width: 50rem;
    height: 50rem;
    position: relative;
    border-radius: 50%;
    border: darkslategray 1rem solid;
    box-shadow: 0rem 1.5rem 1.5rem rgba($color: black, $alpha: 0.15),
      0rem -1.5rem 1.5rem rgba($color: white, $alpha: 0.07),
      inset 0rem 1.5rem 1.5rem rgba($color: black, $alpha: 0.15),
      inset 0rem -1.5rem 1.5rem rgba($color: white, $alpha: 0.07);

    .screen {
      color: #edae98;
      font-family: $mono;
      font-weight: 200;
      box-shadow: inset rgba($color: white, $alpha: 0.1) -0.1rem -0.1rem 0.3rem,
        inset rgba($color: black, $alpha: 0.3) 0.1rem 0.1rem 0.3rem;
      width: auto;
      font-size: 3rem;
      padding: 1rem;
      display: inline-block;
      position: absolute;
      top: 65%;
      left: 50%;
      transform: translateX(-50%);
    }

    .knob {
      width: 1.7rem;
      height: 1.7rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #edae98;
      z-index: 10;
      border-radius: 50%;
      filter: drop-shadow(0rem 0rem 0.2rem rgba(black, 0.7));
      box-shadow: inset rgba($color: white, $alpha: 0.5) 0rem 0.15rem 0.15rem;
    }

    .numbers {
      font-family: $mono;
      color: #edae98;
      font-size: 3rem;

      .number {
        position: absolute;
        filter: drop-shadow(0rem 0rem 0.2rem rgba(black, 0.7));
        font-weight: 100;

        &.twelve {
          top: 5%;
          left: 50%;
          transform: translateX(-50%);
        }

        &.three {
          top: 50%;
          right: 5%;
          transform: translateY(-50%);
        }

        &.six {
          bottom: 5%;
          right: 50%;
          transform: translateX(50%);
        }

        &.nine {
          bottom: 50%;
          left: 5%;
          transform: translateY(50%);
        }
      }
    }

    .hands {
      position: absolute;
      top: 50%;
      left: 50%;

      .hand {
        transform-origin: bottom;
        position: absolute;
        bottom: 50%;
        border-radius: 100% 100% 00% 00%;
        filter: drop-shadow(0rem 0rem 0.2rem rgba(black, 0.5));

        &.second {
          width: 0.2rem;
          height: 19rem;
          background-color: silver;
        }

        &.minute {
          width: 0.4rem;
          height: 16rem;
          background-color: #edae98;
        }

        &.hour {
          width: 0.6rem;
          height: 13rem;
          background-color: #edae98;
        }
      }
    }
  }
}
