@import "_variables.scss";

.home {
  width: 100vh;
  height: 100vw;
  transform-origin: top left;
  transform: rotateZ(-90deg) translateX(-100vh);
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  z-index: -10;
  scrollbar-width: none;
  -ms-overflow-style: none;

  .scrollDiv {
    background-image: url(./projectAssets/home/bulletin.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotateZ(90deg) translateY(-100vh);
    transform-origin: top left;
    width: 150vw;
    height: 100vh;
    display: flex;

    .polaroidSet {
      padding: 7rem 3rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 40rem;
      transition: all ease 0.5s;

      &:hover,
      &:focus {
        transform: scale(1.1);
        filter: drop-shadow(1rem 2rem 1rem rgba(black, 0.5));
      }

      .polaroid {
        width: 100%;
      }

      .postIt {
        background-image: url(./projectAssets/home/postIt.png);
        padding: 8rem 3rem 0rem 4rem;
        background-size: contain;
        background-repeat: no-repeat;
        width: 70%;
        height: 50rem;
        filter: drop-shadow(0.2rem 0.2rem 0.2rem rgba(black, 0.5));

        p {
          font-family: $cursive;
        }
      }
    }
  }
}

::-webkit-scrollbar {
  display: none;
}
