html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: calc(5px + (10 - 5) * (100vw - 320px) / (1600 - 320));
}

body {
  font-size: 1.6rem;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
  display: inline-block;
}

@media (max-width: 700px) {
  html {
    font-size: 40%;
  }
}

.drumKit {
  width: 100vw;
  min-height: 100vh;
  background-color: #ececec;
  color: dimgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.drumKit p {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.drumKit h2 {
  width: 85vw;
  font-family: cursive;
  font-size: 7rem;
  text-align: center;
  margin-bottom: 10rem;
}

.drumKit .keys {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 85vw;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.drumKit .keys .keyContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.drumKit .keys .keyContainer .label {
  margin: 2rem auto;
  font-size: 2.5rem;
  font-family: cursive;
  color: rgba(0, 0, 0, 0.5);
  padding-top: 1rem;
  width: 14rem;
  height: 5rem;
  text-align: center;
  background-image: url(./projectAssets/drumKit/tape.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.drumKit .keys .keyContainer .key {
  width: 10rem;
  height: 10rem;
  border-radius: 10%;
  border: #ececec 0.7rem solid;
  -webkit-box-shadow: -1rem -1rem 1.5rem rgba(255, 255, 255, 0.5), 1rem 1rem 1.5rem rgba(105, 105, 105, 0.2);
          box-shadow: -1rem -1rem 1.5rem rgba(255, 255, 255, 0.5), 1rem 1rem 1.5rem rgba(105, 105, 105, 0.2);
  -webkit-transition: all ease 0.07s;
  transition: all ease 0.07s;
  position: relative;
  margin: 1rem;
}

.drumKit .keys .keyContainer .key p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: sans-serif;
  font-weight: 700;
  font-size: 5rem;
  -webkit-filter: drop-shadow(-0.1rem -0.1rem 0.1rem rgba(255, 255, 255, 0.5)) drop-shadow(0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2));
          filter: drop-shadow(-0.1rem -0.1rem 0.1rem rgba(255, 255, 255, 0.5)) drop-shadow(0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2));
}

.drumKit .keys .keyContainer .key.pressed {
  -webkit-box-shadow: -1rem -1rem 1.5rem rgba(255, 255, 255, 0.5), 1rem 1rem 1.5rem rgba(105, 105, 105, 0.2), inset -1rem -1rem 1.5rem rgba(255, 255, 255, 0.5), inset 1rem 1rem 1.5rem rgba(105, 105, 105, 0.2);
          box-shadow: -1rem -1rem 1.5rem rgba(255, 255, 255, 0.5), 1rem 1rem 1.5rem rgba(105, 105, 105, 0.2), inset -1rem -1rem 1.5rem rgba(255, 255, 255, 0.5), inset 1rem 1rem 1.5rem rgba(105, 105, 105, 0.2);
}

.drumKit .keys .keyContainer .key.pressed p {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}
/*# sourceMappingURL=App.css.map */